// @import '../../../../shared/styles/flexbox-prefix';
// Parallax
/* TODO:: Generate dedicated component for header feature...
Move all markup and styles needed for Parallax */

// Variables
$app-assets-repo: '../../../../../assets';
$app-images-path: '#{$app-assets-repo}/images' !default;

body {
    // height: 100%;
    margin: 0;
    padding: 0;
    // overflow-y: scroll;
    // overflow-x: hidden;
    // perspective: 10rem;
    // transform-style: preserve-3d;
}

// header {
//     height: 100vh;
//     width: auto;
//     position: relative;
//     transform-style: flat;
//     // padding: 5vh;
// }

// Full Landing-Page
// TODO:: Move all `header` styles to dedicated file //
header {
    height: 100vh;
    // width: 100%;
    // overflow-y: scroll;
    // overflow-x: hidden;
    // background-image: url('./assets/images/welcome-header.jpg');
    // background-size: 100vh;
    // z-index: 0;
    // background-position: center;

    div#app-header-parallax {
        height: 100vh;
        // overflow-x: hidden;
        overflow: hidden;
        position: relative;
        // z-index: -1;
    
        .layer {
            position: absolute;
            background-size: 100vh;
            background-position: bottom center;
            // background-size: auto;
            background-attachment: fixed;
            background-repeat: no-repeat;
            // transform-origin:  bottom center 0;
            width: 100%;
            height: 100vh;
            z-index: -1;
        }

        // Assets
        .layer-1 { 
            background-image: url('~/assets/images/parallax/overview/parallax-layer-1.png');
        }
        .layer-2 { 
            background-image: url('~/assets/images/parallax/overview/parallax-layer-2.png');
        }
        .layer-3 { 
            background-image: url('~/assets/images/parallax/overview/parallax-layer-3.png');
        }
        .layer-4 { 
            background-image: url('~/assets/images/parallax/overview/parallax-layer-4.png');
        }
        .layer-5 { 
            background-image: url('~/assets/images/parallax/overview/parallax-layer-5.png');
        }
        .layer-6 { 
            background-image: url('~/assets/images/parallax/overview/parallax-layer-6.png');
        }
        .layer-7 { 
            background-image: url('~/assets/images/parallax/overview/parallax-layer-7.png');
        }
        .layer-8 { 
            background-image: url('~/assets/images/parallax/overview/parallax-layer-8.png');
        }
    
        // Parallax layers
        // $parallax-layer-path: '';
        // @for $i from 1 through 8 {
        //     .app-parallax-layer-#{$i} { 
        //         background-image: url('~/assets/images/parallax/overview/parallax-layer-#{$i}.png'); 
        //     }
        // }
    }
}

header .app-header-content {
    width: 100%;
    // top: 50%;
    // position: relative;
    // padding: 34vh 5vw 0 5vw;
    // z-index: 1;

    h1, h2, h3, h4 {
        font-family: 'Comfortaa', normal;
        text-shadow: 2px 2px 2px #333;
    }
}

// header::before {
//     height: 100vh;
//     position: absolute;
//     top: 5px;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     content: "";
//     display: block;
//     // background-color: #212121;
//     background-image: url('../../../../../assets/images/welcome-header.jpg'); // Ad-Hoc
//     background-position: top center;
//     background-size: 100vw 100vh;
//     background-attachment: fixed;
//     background-repeat: no-repeat;
//     transform-origin:  center center 0;
//     -webkit-transform: scale(2) translate(0px, -40px);
//     -moz-transform:    scale(2) translate(0px, -40px);
//     -ms-transform:     scale(2) translate(0px, -40px);
//     -o-transform:      scale(2) translate(0px, -40px);
//     transform:         scale(2) translate(0px, -40px);
//     z-index: -1;
// }

header > * {
    // font-weight: normal;
    letter-spacing: .2rem;
    text-align: left;
    margin: 0;

    h1, h2, h3, h4 {
        margin: 1rem;
        font-family: 'Comfortaa', normal;
        text-shadow: 1px 1px 1px #333;
    }

    ~ span {
        letter-spacing: 0;
        margin-left: -10px;
    }
}

// Welcome-Page Styles // ---------------->
// div[role="welcome-text"] {
//     text-align: right;
// }
